# =========================
#   DEPENDENCIES
# =========================
node_modules/

# =========================
#   BUILD OUTPUT
# =========================
dist/
dist/output.css
dist/*.map
dist/
src/styles.css

# =========================
#   LOG FILES
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# =========================
#   DEPENDENCY LOCK FILES
# =========================
package-lock.json

# =========================
#   ENVIRONMENT VARIABLES
# =========================
.env
.env.local

# =========================
#   OS & EDITOR FILES
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
